.RowContainer{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
.ColumnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px-5px;
  }