.FormulaForm{
    width: 500px;
    height: 400px;
    float: left;
  }
#result{
    color: gray;
    text-align: end;
    font-size: 13px;
}
.container{
  display: flex;
  width: 500px;
  height: 300px;
}
.FormInput{
  height: 38px;
}
